.classe1 {
  font-family: Arial, sans-serif;
  font-size: clamp(12px, 1.2vw, 15px);
  text-transform: uppercase;
  font-weight: 700;
  padding: 12px 18px;
  border: none;
  position: relative;
  cursor: pointer;
  transition: 0.15s;
}

.btn-green {
  color: white;
  background: #44d119;
  box-shadow: 0 5px 0 #186800;
}

.btn-green:hover {
  background: #ff0050;
  color: white;
  box-shadow: 0 5px 0 #a00032;
}

.btn-green:active {
  transform: translateY(5px);
  background: #ff0050;
  color: white;
  box-shadow: none;
}

.circle {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  background: url("Imagens/Cat.png");
  background-size: cover;
  background-position: center;
  position: relative;
  margin: 10px auto 0;
}


.lista {
  position: relative;
  float: left;
  font-family: arial;
  text-transform: uppercase;
  font-size: 20px;
  top: 10px;
  background: red;
  width: 60px;
  height: 40px;
}

.btn-menu {
  background: none;
  left: 30px;
  float: left;
}

.btn-menu:hover {
  text-shadow: 0px 0px 5px #ffffff;
}

#cabecalho1 {
  background: linear-gradient(#ba0000 60%, #1d3c8c 40%);
  width: 700px;
  max-width: 95%;
  height: 150px;
  margin: 0 auto;
  position: relative;
  top: 200px;
}

#menu {
  background: url("file:Imagens/Nyan.png");
  justify-content: center;
  gap: 20px;
  width: 1000px;
  max-width: 95%;
  height: 48px;
  margin: 20px auto 0;
}

#sobre {
  background: white;
  border: solid 2px;
  box-shadow: 5px 5px black;
  width: 1000px;
  height: 250px;
  left: 259px;
  top: 90px;
  position: relative;
}

#textsobre {
  font-size:30px;
  font-family: OCR A;
  width: 850px;
  left: 75px;
  top: 90px;
  position: relative;
}

#politica {
  background: white;
  border: solid 2px;
  box-shadow: 5px 5px black;
  width: 90%;
  max-width: 1000px;
  height: 250px;
  margin: 10px auto;
  position: relative;
}

#posts {
  width: 90%;
  max-width: 700px;
  min-height: 450px;
  margin: 40px auto;
  border: none;
  border-radius: 20px;
  background: white;
  position: relative;
}


::-webkit-scrollbar-track {
  background-color: #F4F4F4;
}

::-webkit-scrollbar {
  width: 12px;
  background: #F4F4F4;
}

::-webkit-scrollbar-thumb {
  background: #ff99ff;
}

#data {
  width: 80px;
  text-align: center;
  border: solid 2px;
  box-shadow: 3px 3px black;
  position: absolute;
  background: white;
  top: -15px;
  left: 10px;
}

#rodape {
  top: 200px;
  width: 100%;
  height: 120px;
  position: relative;
  background: url("file:Imagens/rodape.png");
  opacity: 0.7;
}

#coracao {
  font-size: 27px;
  font-family: OCR A;
}

#cor {
  left: 220px;
  position: relative;
}
